/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: #fbfbfb;
  height: 100vh;
  background-color: #232c39 !important;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #000;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: #fbfbfb;
  opacity: 0.75;
  text-decoration: none;
}

.activeLink {
  color: #4fc3f7;
  opacity: 1;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  color: #4fc3f7 !important;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}
input,
button,
textarea,
:focus {
  outline: none;
}
